body, html{
	width: 100vw;
	height: 100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	margin: 0;
	padding: 0;
	background-color: #000;
  	background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

#canvas1{
	width: auto;
	height: 100vh;
	z-index: 1;
	pointer-events: visible;
}

#canvas2 {
	width: auto;
	height: 100vh;
	z-index: 98;
	pointer-events: none;
  }

#name, #description{
	position: absolute;
	pointer-events: none;
	z-index:9;
}

#name{
	font-size:900%;
	width:90%;
	top: 10vh;
	left: 5vw;
	/* margin: 5vh 0 0 3%; */
	color:rgb(255, 227, 152);
	transition:1s;
}

#description{
	font-size:40%;
	color:rgb(214, 214, 214);
}
#project{
	font-size:40%;
	top: 10%;
	color:rgb(214, 214, 214);
}


canvas {
	position: fixed;
	width: 100%;
	height: 100%;
  }

.key{
	position: absolute;
	transition: 0.4s;
	border: 0;
}

.white:hover{
	opacity:0.4;
	transition: 0.1s;
}

.white:hover ~ .black{
	background-color: rgba(0, 0, 0, 1);
	transition: 0s;
}

.black:hover{
	transition: 0.1s;
	border: solid 2px rgba(124, 255, 244, 0.726)
}

.key:active{
	opacity:0.8;
	transition: 0.1s;
	border-bottom: white 5px solid;
}
.black:active{
	opacity:0.9;
	background-color: rgb(156, 156, 156);
}
.white{
	background-color: rgb(204, 204, 204);
	z-index:1;
	height: 100vh;
	width: 12.1vw;
	opacity: 0.01;
}

.black{
	/* background-color: rgba(0, 0, 0, 1); */
	background-color: rgba(0, 0, 0, 0.74);
	z-index:2;
	height: 56vh;
	/* height: 66vh; */
	/* top: -10vh; */
	width: 9.01vw;
	border-radius: 10px;
	border: solid 1px rgba(41, 255, 237, 0.15)
}




