body, html{
	width: 100vw;
	height: 100vh;
	overflow-x:hidden;
	overflow-y:hidden;
	margin: 0;
	padding: 0;
	background-color: #000;
  	background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

#canvas1{
	width: auto;
	height: 100vh;
	z-index: 1;
	pointer-events: visible; /* to get rid of moving background */
	/* pointer-events: none; */
}

#canvas2 {
	width: auto;
	height: 100vh;
	z-index: 98;
	pointer-events: none;
  }

#name, #description{
	position: absolute;
	pointer-events: none;
	z-index:9;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Luckiest Guy', cursive;
	/* font-family: 'Press Start 2P', cursive; */
}

#name{
	font-size:900%;
	width:90%;
	top: 10vh;
	left: 5vw;
	/* margin: 5vh 0 0 3%; */
	color:rgb(238, 238, 238);
	transition:1s;
}

#description{
	font-size:40%;
	color:rgb(211, 211, 211);
}
#project{
	font-size:40%;
	top: 10%;
	color:rgb(214, 214, 214);
}


canvas {
	position: fixed;
	width: 100%;
	height: 100%;
  }

.key{
	position: absolute;
	transition: 0.4s;
	border: 0;
	overflow: hidden; /*to prevent ripple from escaping*/
}

.white:hover{
	background-color: rgba(204, 204, 204, 0.055);
	transition: 0.1s;
	border: solid 2px rgba(124, 255, 244, 0.726);
}

.white:hover ~ .black{
	background-color: rgba(0, 0, 0, 1);
	transition: 0s;
}

.black:hover{
	transition: 0.1s;
	border: solid 2px rgba(124, 255, 244, 0.726)
}

.white{
	background-color: rgba(204, 204, 204, 0.01);
	z-index:1;
	height: 100vh;
	width: 12.1vw;
}

.black{
	/* background-color: rgba(0, 0, 0, 1); */
	background-color: rgba(0, 0, 0, 0.74);
	z-index:2;
	height: 56vh;
	/* height: 66vh; */
	/* top: -10vh; */
	width: 9.01vw;
	border-radius: 10px;
	border: solid 1px rgba(41, 255, 237, 0.15)
}

/* it's either this or the ripple */
.key:active{
	background-color: rgba(204, 204, 204, 0);
	opacity:0.8;
	transition: 0.1s;
	border-bottom: white 5px solid;
}
/* .black:active{
	opacity:0.9;
	background-color: rgb(156, 156, 156);
} */

span.ripple {
	position: absolute; /* The absolute position we mentioned earlier */
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 800ms linear;
	background-color: rgba(138, 250, 241, 0.829);
}

@keyframes ripple {
	to {
	  transform: scale(3);
	  opacity: 0;
	}
}


